.main_about .slider-title {
    color: #00ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
}

.advantages_about {
    padding-top: 20px;
    padding-bottom: 10px;
}

.advantages_about h2 {
    font-family: 'Comfortaa', sans-serif;
    color: #00ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    margin: 15px 0 20px;
    padding-bottom: 10px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: stretch;
    margin: 10px 0;
    grid-gap: 20px;
}

.card_about {
    width: 170px;
    height: 200px;
    background-color: hsl(212, 42%, 20%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-bottom: 16px;
    font-family: 'Comfortaa', sans-serif;
}

.card_about:hover {
    transform: scale(1.1);
}

.card_about span {
    opacity: 0;
}

.card_about:hover span {
    opacity: 1;
}

.card_about span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #00ffff);
    animation: animate1 2s linear infinite;
}

.card_about span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #00ffff);
    animation: animate2 2s linear infinite;
    animation-delay: -1s;
}

.card_about span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #00ffff);
    animation: animate3 2s linear infinite;
}


.card_about span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #00ffff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}


@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.about-text {
    max-width: 1200px;
    margin: 20px auto 10px;
    text-align: justify;
    padding: 20px;
}

.about-text h2 {
    color: #00ffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.about-text p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-indent: 30px;
}

.main_about .card__data,
.main_about .card__img{
    height: auto;
}

@media (max-width: 586px) {
    .card-container{
        grid-template-columns: repeat(2,auto);
    }
    .main_about h2,
    .main_about .slider-title{
        font-size: 2rem;
    }
    .about-text p{
        font-size: 1rem;
    }
    .advantages_about{
        padding-top: 0;
    }
}
@media (max-width: 400px) {
    .card-container{
        grid-template-columns: repeat(1,auto);
    }
}
