* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0f1219;
    color: #fff;
}

main {
    flex: 1 0 auto;
    padding: 80px 20px 20px 20px
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}