.main-BQ {
    flex: 1 0 auto;
    padding: 80px 15% 20px
}

.main-BQ img {
    max-width: none;
}

.product-card {
    margin: 50px 0;
    width: 100%;
}

.product-card h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    text-align: center;
}

.BQ-block {
    display: flex;
}

.product-card .BQ-img {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

.BQ-block .BQ-info {
    text-indent: 1.25em;
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.5;
}

.BQ-block .BQ-about {
    margin-left: 40px;
}

.BQ-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BQ-price {
    margin-left: 10px;
}

.BQ-block .BQ-info .cost {
    font-size: 2.5rem;
}

.cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost button {
    background-color: var(--container-color);
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
    border: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
}

.BQ-characteristic .head-list {
    padding-inline-start: 0;
}

.BQ-characteristic .type {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    align-items: center;
}

.BQ-characteristic .type:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.BQ-characteristic .type p {
    max-width: 50%;
    bottom: -5px;
    background-color: #0f1219;
    z-index: 1;
}

.BQ-characteristic .type .descrip {
    text-align: right;
}


.main-BQ .footer-container {
    position: relative;
    bottom: 0;
}

.main-BQ button span {
    margin-left: 10px;
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.main-BQ .notification {
    margin-top: 4em;
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    background-color: #1e232f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s;
    border: solid 2px black;
    z-index: 999;
}

@media (max-width: 1180px) {
    .BQ-block {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .BQ-price {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .main-BQ {
        padding: 60px 15% 20px;
    }

    .product-card {
        margin-top: 0;
    }
}

@media (max-width: 579px) {

    .cost {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .BQ-price{
        margin-left: -10px;
    }

    .main-BQ .cost button {
        width: auto;
        cursor: pointer;
    }

    .main-BQ h2 {
        font-size: 1.5rem;
    }

    .product-card .BQ-img {
        width: 280px;
    }

    .BQ-block .BQ-about {
        font-size: 1rem;
        margin: 0 auto;
    }

    .BQ-characteristic .type:after {
        display: none;
    }

    .BQ-characteristic .type {
        margin-bottom: 20px;
    }
}