.main-cart h2 {
    display: block;
    font-size: 2.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color:#00ffff;
}


.main-cart .nothing-in-cart {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px;
    color:#00ffff;
}

.main-cart .cart {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1em;
    padding: 0 15%;
}

.main-cart .cart .nothing-in-cart {
    margin-top: 20px;
}

.cart-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.cart-item {
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
}

.cart-item .cart-img {
    width: 180px;
    height: auto;
    flex-shrink: 1;
}

.cart-item-info {
    margin: 0;
    flex-grow: 1;
}

.cart-item-info p {
    font-size: .8em;
}

.remove-cart-item {
    display: flex;
    align-items: center;
}

.remove-cart-item button {
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    font-size: .7em;
    color: #fff;
}

.remove-cart-item button:hover {
    transform: scale(1.1);
}

.checkout {
    position: sticky;
    top: 20em;
}

.checkout > p {
    font-size: 1em;
}

form {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: .8em;
    margin-top: .3em;
}

form input {
    font-size: .6em;
    max-width: 100%;
}

form p {
    font-size: .8em;
}

.payment-radio-wrap {
    margin: 0;
    display: flex;
    gap: 1em;
}

.payment-radio {
    margin: 0;
    display: flex;
    gap: .1em;
}

.payment-radio input {
    transform: translateY(15%);
}

.purchase-button {
    font-size: .9em;
    padding: .3em;
    margin-top: .5em;
    background-color: var(--first-color);
    color: var(--dark-color);
    border: 2px solid black;
    cursor: pointer;
    margin-top: 1em;
}

.purchase-button:hover {
    background: rgb(255, 242, 0);
}
/* CSS */
.quantity-buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.quantity-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.quantity-button:hover {
    background-color: #2980b9;
}


@media (max-width: 1000px) {
    .main-cart .cart {
        padding: 0 1%;
    }
}

@media (max-width: 650px) {
    .main-cart .cart {
        grid-template-columns: 1fr;
    }
}
