

.category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5em;
}

.main_catalog .catalog-title {
    padding-top: 10px;
    font-size: 3.5rem;
    margin: 20px 0;
    text-align: center;
    color: #00ffff; /* Цвет текста заголовка */
    font-family: 'Comfortaa', sans-serif;

}
.catalog-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.category-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color:#00ffff;
}

.main_catalog .card__container {
    padding-block: 2rem;
    max-width: max-content;
}

.main_catalog .card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.main_catalog .card__article {
    width: 300px; /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
}

.main_catalog .card__image {
    position: relative;
    background-color: var(--container-color);
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
    width: 300px;
    height: 220px;
    display: flex;
    align-items: center
}

.main_catalog .card__data {
    background-color: var(--container-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    height: auto;
    z-index: 10;
}

.main_catalog .card__img {
    width: auto;
    height: 180px;
    top: -10px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.main_catalog .card__shadow {
    width: 200px;
    height: 200px;
    background-color: #0f1219;
    border-radius: 50%;
    position: absolute;
    top: 3.75rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    filter: blur(45px);
}

.main_catalog .card__name {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-bottom: .25rem;
}

.main_catalog .card__description {
    font-weight: 500;
    margin-bottom: .25rem;
    max-height: 100px;
    overflow: hidden;
}

.main_catalog .price p {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .2rem;
    bottom: 0;
}
.main_catalog .card__img__cart{
    display: none;
}
.main_catalog .card__button {
    display: inline-block;
    background-color: var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--dark-color);
    font-weight: 600;
    bottom: 0;
    cursor: pointer;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.main_catalog .notification {
    margin-top: 6em;
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    background-color: #1e232f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s;
    border: solid 2px black;
    z-index: 999;
}

@media (max-width: 1089px) {
    .category {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 20px;
    }
    .main_catalog .card__description{
        max-height: 75px;
    }
}

@media (max-width: 666px) {
    .category {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 10px;
        margin-bottom: 10px;
    }
    .main_catalog .catalog-title{
        font-size: 2rem;
        margin-top: 0;
    }
    .category-title {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5rem;
    }
    .main_catalog{
        padding-top: 60px;
    }
}