header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: #1e232f;
    z-index: 101;
    /*margin-bottom: 100px;*/
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-content img {
    height: 35px;
    width: 35px;
    z-index: 100;
    margin-left: 10px; /* Добавляем отступ между текстом и изображением */
}

.brand {
    color: white;
    margin-left: 15px;
    font-size: 30px;
    text-decoration: none;
    display: flex; /* Чтобы можно было вертикально выравнивать элементы */
    align-items: center; /* Выравнивание по центру по вертикали */
    border-bottom: none;
}

.brand:hover {
    color: rgba(255, 255, 255, 0.5);
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    background: #1e232f;
    padding: 10px 0;
}

nav a {
    position: relative;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-right: 10px;
}

#marker {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 90px;
    border-bottom: 5px solid #80f9ff;
    background: linear-gradient(0deg, #08f9ff33, transparent);
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #80f9ff);
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255,0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-45deg);
}
@media (max-width: 834px){
    .brand {
        font-size: 1.45rem;
    }
}

@media (max-width: 768px) {
    .brand {
        font-size: 22px;
    }

    #marker {
        display: none;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 40px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    #menu-toggle ~ .menu > a {
        overflow: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu > a {
        overflow: visible;
        border-bottom: 2px solid #0f1219;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 95.75%;
        color: white;
        /*transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);*/
    }
}